.password-generator {
    margin-top: 50px;
    text-align: center;
}

.password-generator .options {
    margin-bottom: 20px;
}

.password-generator input[type="number"] {
    width: 100%; /* Adjusted to 100% for better visibility, change as needed */
    margin-right: 10px;
}

.password-generator #generate-btn {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.password-generator #generate-btn:hover {
    background-color: #0056b3;
}
