.password-generator .options {
  display: flex;
  justify-content: space-between; /* Distribuye espacio uniformemente */
  align-items: center;
  padding: 0 10%; /* Reducimos un poco el padding para pantallas grandes */
}

.password-generator input[type="number"] {
  width: 25%; /* Ancho fijo del input */
  padding: 10px;
  font-size: 16px;
  margin-right: 10px; /* Añade margen derecho para separar del botón */
}

.password-generator #generate-btn {
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.password-generator #generate-btn:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .password-generator .options {
    flex-direction: column; /* Cambia a disposición vertical */
    align-items: center; /* Alinea elementos al centro */
    padding: 0; /* Elimina padding lateral */
  }

  .password-generator input[type="number"],
  .password-generator #generate-btn {
    width: 80%; /* Aumenta el ancho para mejor accesibilidad */
    margin-bottom: 15px; /* Añade margen inferior para separación */
  }

  .password-generator #generate-btn {
    width: 80%; /* Asegura que el botón no esté pegado al input */
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .password-generator .options {
    flex-direction: row; /* Mantiene la fila en tablets */
    padding: 0 5%; /* Reduce el padding lateral */
  }

  .password-generator input[type="number"],
  .password-generator #generate-btn {
    margin-right: 5%; /* Asegura separación entre los elementos */
  }
}
