body, html{
    font-family: 'Roboto', sans-serif;  /* Gebruikt het 'Roboto' lettertype voor de tekst in de body */
    background-color: #A7BFE8;  /* Stelt een lichtblauwe achtergrondkleur in voor de body */
    width: 100%;
    overflow-x: hidden;
}
.container, .navbar, header, footer {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
  }
.navbar, footer {
    background-color: #A7BFE8;  /* Stelt dezelfde lichtblauwe achtergrondkleur in voor de navigatiebalk en voettekst */
}

.nav-link, .navbar-brand {
    color: black;  /* Zet de tekstkleur van navigatielinks en het merklogo op zwart */
}

h1, h2, h3, h4, h5, h6 {
    color: #2B5876;  /* Stelt een donkerblauwe kleur in voor alle koppen (h1 tot h6) */
}

.btn, .navbar-toggler {
    background-color: #2B5876;  /* Geeft knoppen en de navbar-toeschakelaar een donkerblauwe achtergrondkleur */
}
.img-fluid {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
.img-responsive {
    max-width: 50%; /* Asegura que la imagen nunca sobrepase el ancho del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    display: block; /* Elimina cualquier espacio extra alrededor de la imagen */
    margin: 0 auto; /* Centra la imagen horizontalmente */
}
ul {
    list-style-type: disc; /* Voegt zwarte bolletjes toe aan de lijst */
}
.table th, .table caption {
    font-weight: bold; /* Maakt tekst in tabelkoppen en bijschrift vet */
}
.table td:first-child, .table th:first-child {
    border-right: 1px solid #dee2e6; /* Voegt een lijn toe aan de rechterkant van de eerste kolom */
    font-weight: bold; /* Maakt tekst in de eerste kolom vet */
}
.table-responsive {
    margin-bottom: 1.5rem;
  }
  iframe {
    width: 100%;
    border: none;
  }